.item {
    border: 3px black solid;
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 10px 10px 10px 10px;
    color: white;
}

.image {
    border: 3px black solid;
    width: 200px;
    height: 200px;
    margin: 10px 10px 10px 10px;
    color: white;
}

p {
    color: white;
}