.item {
    border: 3px black solid;
    width: 200px;
    height: 200px;
    text-align: center;
}

.image {
    border: 3px black solid;
    width: 200px;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
}